" References: https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc

" Link system clipboard
set clipboard+=unnamed,unnamedplus

" Set up <Space> leader key
let mapleader = " "

" Save
nmap <leader>w :action SaveAll<cr>

" Comment
vmap <leader>c :action CommentByLineComment<cr>
nmap <leader>c :action CommentByLineComment<cr>

" Easy new line
nmap nl o<Esc>

" Easy format
nmap == :action ReformatCode<cr>
vmap == :action ReformatCode<cr>
nmap -= :action OptimizeImports<cr>

" Easy navigate
nmap <leader>gd :action GotoDeclaration<cr>
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gf :action Forward<cr>
nmap <leader>gb :action Back<cr>
nmap <leader>gt :action GotoTest<cr>

" Easy search
nmap <leader>s :action GotoFile<cr>
nmap <leader>f :action FindInPath<cr>
vmap <leader>u :action FindUsages<cr>
nmap <leader>u :action FindUsages<cr>
vmap <leader>i :action FindUsagesInFile<cr>
nmap <leader>i :action FindUsagesInFile<cr>

" Easy movement when typing
" inoremap <c-h> <left>
" inoremap <c-l> <right>
" inoremap <c-j> <down>
" inoremap <c-k> <up>
