" References: https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc

" Set up emulated plugin
set NERDTree
set easymotion
set multiple-cursors
set argtextobj
set surround

" Link system clipboard
set clipboard+=unnamed,unnamedplus

" Set up <Space> leader key
let mapleader = " "

" Save
nmap <leader>w :action SaveAll<cr>

" Comment
vmap <leader>c :action CommentByLineComment<cr>
nmap <leader>c :action CommentByLineComment<cr>

" Easy new line
nmap nl o<Esc>

" Easy format
nmap == :action ReformatCode<cr>
vmap == :action ReformatCode<cr>
nmap -= :action OptimizeImports<cr>

" Easy navigate

" nmap gd :action GotoDeclaration<cr>
" gd is default setting of ideavim
nmap gi :action GotoImplementation<cr>
nmap <c + i> <Action>(Forward)
nmap <c + o> <Action>(Back)
nmap gt :action GotoTest<cr>

" Easy search
nmap <leader>s :action GotoFile<cr>
nmap <leader>f :action FindInPath<cr>
vmap <leader>u :action FindUsages<cr>
nmap <leader>u :action FindUsages<cr>
vmap <leader>i :action FindUsagesInFile<cr>
nmap <leader>i :action FindUsagesInFile<cr>

" Easy terminal
nmap <leader>te :action ActivateTerminalToolWindow<cr>

" NERDTree
nmap <leader>tr :NERDTree<CR>