" Refferences: https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc

set clipboard+=unnamed, unnamedplus

let mapleader = " "

nmap <leader>w :action SaveAll<cr>
vmap <leader>c :action CommentBylineComment<cr>
nmap nl o<Esc>
nmap == :action ReformatCode<cr>
nmap gd :action GotoDeclaration<cr>
nmap gi :action GotoImplementation<cr>
nmap gf :action Forward<cr>
nmap gb :action Back<cr>
nmap <leader>s :action GotoFile<cr>
